@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Herr+Von+Muellerhoff&display=swap');

/* Resetleme */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Alkatra', cursive;
}

a,
a:link,
a:visited {
    text-decoration: none;
    outline: none;
    border: none;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

section,
span,
p {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}


/* header */
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-image: url(img/header-background.jpg);
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    height: 100vh;
}

.header-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0;
    
}

.header-logo {
    font-size: 18px;
    letter-spacing: 2px;
    color: #4b141a;
    border-bottom: 5px solid #4b141a;
    border-radius: 35px;
    margin-left: 85px;
}

ul {
    display: flex;
}

li {
    margin-left: 27px;
}

li:first-child {
    margin-right: 90px;
}

a {
    color:#8b232f;
    font-weight: bold;
    font-size: 18px;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,45%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 8.2rem;
    font-weight: 100;
    /* color:#e69aa1; */
    color: #6a2b31;
    line-height: 0.4;
    letter-spacing: 2px;
    font-family: 'Herr Von Muellerhoff', cursive;
}

.first-latter {
    font-size: 10.3;
    font-family: 'Herr Von Muellerhoff', cursive;
}

.btn-coffee {
    display: block;
    margin-top: 20px;
    background-color: #8f2525bb;
    color: white;
    padding: 5px 15px;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    position: relative;
    overflow: hidden;
   
}

.btn-coffee::after {
    content: 'BUY';
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #5b2a02;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.btn-coffee:hover::after {
    top: 0;
}

/* about */
.about {
    margin-bottom: 150px;
}

.about-title {
    margin: 60px 0;
}

.about-title h2 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #6a2b31;
    font-size: 30px;
    font-weight: 600;
}

.about-title h2::after {
    content: "";
    width: 30px;
    height: 3px;
    background-color: #6a2b31;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-img {
    width: 40%;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text {
    width: 40%;
}

h4 {
    margin-bottom: 25px;
    text-align: center;
    font-size: 40px;
    color: #6a2b31;
    font-family: 'Herr Von Muellerhoff', cursive;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

#asteriks {
    color: #6a2b31;
    margin-bottom: 15px;
    text-align: center;
    width: auto;
}

.about-text p{
    font-size: 15px;
    text-align: center;
    color: #2c2727;
}

/* portfolio */
.portfolio {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-item {
    width: 25%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .5s;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color:#2e1402;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: .8;
    color: white;
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.portfolio-item:hover .overlay {
    top: 0;
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

/* contact */
.contact {
    padding: 10px 0;
    background-color: rgb(245, 233, 231);
}

.contact h2 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #6a2b31;
    font-size: 30px;
    font-weight: 600;
}

.contact h2::after {
    content: "";
    width: 30px;
    height: 3px;
    background-color: #6a2b31;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
}

.contact-content {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}

.contact-item {
    display: flex;
    align-items: center;
    flex-basis: 33%;
    margin-bottom: 100px;
    flex-direction: column;
}

.contact-item i {
    font-size: 25px;
    margin-bottom: 30px;
    color: #6a2b31;
}

.contact-item p {
    font-size: 14px;
    line-height: 33px;
}

/* footer */
.footer h2 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #6a2b31;
    font-size: 30px;
    font-weight: 600;
    padding: 55px 0;
}

.footer h2::after {
    content: "";
    width: 30px;
    height: 3px;
    background-color: #6a2b31;
    margin: 0 auto;
    display: block;
    margin-top: 5px;
}

.footer {
    background-color:#2c2727;
}

.footer-copyright {
    color: white;
    text-align: center;
    flex-basis: 55%;
    line-height: 2;
    font-size: 14px;
    margin-bottom: 25px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-social i{
    color: white;
    margin-bottom: 50px;
    font-size: 25px;
    padding: 0 45px;
}

.footer-social i:first-child {
    margin-left: 70px
}

#menu-icon {
    font-size: 25px;
    display: none;
    margin-left: 20px;
}

/* responsive menu*/
@media only screen and (max-width:800px) {
    .header-menu ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0px;
        background-color: rgba(240, 139, 121, 0.568);
        width: 100%;
        overflow: hidden;
        transition: max-height .5s;
    }

    .header-menu ul li {
        margin-right: 50px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .header-menu ul li a {
        color: white;
    }

    .header-menu #menu-icon {
        display: block;
        cursor: pointer;
    }
}

/* responsive about*/
@media only screen and (max-width:990px) {
    .about-img {
        width: 100%;
        margin-bottom: 30px;
    }

    .about-text {
        width: 100%;
    }
}

/* responsive portfolio*/
@media only screen and (max-width:990px) {
    .portfolio .portfolio-item {
        flex-basis: 50%;
    }
}

@media only screen and (max-width:580px) {
    .portfolio .portfolio-item {
        flex-basis: 100%;
    }
}

/* responsive contact*/
@media only screen and (max-width:800px) {
    .contact-content {
        flex-direction: column;
    }

    .contact-item {
        margin-top: 30px;
    }

    .contact-item p {
        width: 100%;
        text-align: center;
    }
}

/* responsive footer*/
@media only screen and (max-width:700px) {
    .footer-social i{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
}